<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.mdsd.sdu/math/interpreter/MathInterpreter"
			class = "sdu.mdsd.math.interpreter.mathInterpreter.MathInterpreterPackage"
			genModel = "model/generated/MathInterpreter.genmodel" />
	</extension>
</plugin>
