.metadata/
**/bin/**
**/src-gen/**
**/xtend-gen/**
**/test-bin/**
**/model/generated/**
sdu.mdsd.math.interpreter.ide/bin/sdu/mdsd/math/interpreter/ide/contentassist/antlr/internal/InternalMathInterpreter.g
